#savedpaper, #paper{
    position: absolute;
    top: 0px;
    left: 0px;
}

#paper{
    cursor: url('img/brush.png'), auto;
}

.wrapper{
    position: relative;
    height:800px;
    width: 700px;
}
